body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  white-space: pre-line;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
}

li {
  padding: 20px;
}

h2 {
  margin: 50px;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

button:hover {
  cursor: pointer;
}

.correct {
  background-color: #4CAF50;
}

.incorrect {
  background-color: #f44336;
}

.continue {
  background-color: #008CBA;
}


section {
  margin: 40px auto;
}

.item {
  padding: 40px;
  min-height: 100px;
  background-color: #e7e7e7;
  width: 50%;
}

.directions {
  max-width: 1000px;
}

.directions:hover {
  cursor: pointer;
}

a {
  padding: 10px;
}

footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #4286f4;
  width: 100%;
}

footer a {
  color: white;
}


.loader {
  margin: 20px auto;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result {
  padding-bottom: 20px;
}
